footer {
    .footer-top {
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 175px;
        padding-bottom: 60px;
        background-image: $gradientUp;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            flex: 1;
            max-width: 100%;

            img {
                width: 377px;
                max-width: 100%;
            }
        }

        .address {
            padding-left: 80px;

            h2 {
                margin-bottom: 0.5rem;
            }
        }
    }

    .footer-bottom {
        background-color: black;
        padding: 0.5rem 50px;
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin-bottom: 0;
        }

        .facebook {
            width: 36px;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    footer {
        h2 {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 3px;
        }

        .footer-top {
            padding: 40px;
            display: block;
            text-align: center;

            .logo {
                margin: 0 auto;
                margin-bottom: 20px;
            }

            .address {
                padding-left: 0;
            }
        }
    }
}