body {
    color: white;
}

body.landing-page {
    background-color: $lightPurple;
}

body.production-page {
    background-color: $gray;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;

    .content:first-of-type {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .content:last-of-type {
        padding-bottom: 80px;
    }
}

.container.full-width {
    width: 100%;
    max-width: unset;
}

a.btn {
    display: inline-block;
    padding: 1rem 2rem;
    color: $darkPurple;
    background-color: white;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 1px solid white;
    transition: all 400ms;
}

@media screen and (min-width: 992px) {

    a.btn:hover,
    a.btn:focus {
        background-color: transparent;
        color: white;
    }
}


@media screen and (max-width: 767px) {
    .container {
        .content:first-of-type {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .content:last-of-type {
            padding-bottom: 40px;
        }
    }
}