body {
    color: white;
}

.container {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;

    .content:first-of-type {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .content:last-of-type {
        padding-bottom: 80px;
    }
}

.container.full-width {
    width: 100%;
    max-width: unset;
}

a.btn {
    display: inline-block;
    padding: 1rem 2rem;
    color: $darkPurple;
    background-color: white;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}