header {
    background-color: $darkPurple;
    border-bottom: 2px solid $lightPurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    position: relative;

    .logo {
        width: 250px;

        img {
            width: 100%;
        }
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        nav {
            ul {
                color: white;
                list-style: none;

                li {
                    display: inline-block;
                    margin-right: 42px;
                    position: relative;
                }
            }
        }

        .wire-bird {
            width: 85px;

            img {
                width: 100%;
            }
        }

    }

    .hamburger {
        display: none;
        cursor: pointer;
        position: relative;
        z-index: 4;
        width: 26px;
        height: 22px;
        border: 0;

        .ham-bar {
            width: 100%;
            height: 4px;
            border-radius: 1px;
            background-color: white;
            position: absolute;
            opacity: 1;
            transition: transform 250ms;
        }

        .ham-top {
            top: 0;
        }

        .ham-mid {
            top: 50%;
            transform: translateY(-50%) rotate(0);
        }

        .ham-bot {
            bottom: 0;
        }

        .d-none {
            opacity: 0;
        }

        .x-bar-one {
            transform: translateY(-50%) rotate(45deg);
        }

        .x-bar-two {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}

.mobile-word-mark {
    display: none;
}

@media screen and (max-width: 991px) {
    header {

        padding: 1rem 1.5rem;

        .logo {
            position: absolute;
        }

        .menu {

            .wire-bird {
                width: 60px;
                padding-top: 0.5rem;
                opacity: 0.25;
            }

            nav {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-image: $gradientDown;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(-100%);
                transition: all 250ms;

                ul {
                    li {
                        display: block;
                        margin-right: 0;

                        a {
                            font-size: 24px;
                        }
                    }

                    li:not(last-child) {
                        margin-bottom: 1rem;
                    }
                }
            }

            nav.active {
                transform: translateX(0);
            }
        }

        .hamburger {
            display: block;
        }
    }

    .mobile-word-mark {
        display: block;
        padding: 0.5rem calc(5% + 6px);
        background-color: $lightPurple;
        text-align: center;

        img {
            width: 75%;
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        padding: 0.5rem;
    }
}

@media screen and (min-width: 992px) {
    nav {
        li:after {
            content: '';
            width: 0%;
            height: 1px;
            background-color: white;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: all 250ms;
        }

        li:hover:after {
            width: 100%;
        }
    }
}