.productions {
    background-color: $lightPurple;

    .container {
        .content {
            padding-bottom: 0;

            h2 {
                margin-bottom: 80px;
                border-bottom: 2px solid rgba(255, 255, 255, 0.05);
            }

            .production-tiles {
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-gap: 0;

                .production-tile {
                    width: 100%;
                    padding-bottom: 56%;
                    background-color: red;
                    position: relative;
                    background-size: cover;
                    background-position: center;

                    .production-tile-hover {
                        display: none;

                        h2 {
                            padding: 2rem;
                            margin-bottom: 0;
                            text-align: center;
                            border-bottom: 0;
                        }
                    }
                }

                .prod-tms {
                    background-image: url('/media/img/productions/maskedSinger.jpg');
                }

                .prod-agt {
                    background-image: url('/media/img/productions/agt.jpg');
                }

                .prod-dduad {
                    background-image: url('/media/img/productions/disney.jpg');
                }

                .prod-tpirl {
                    background-image: url('/media/img/productions/priceIsRight.jpg');
                }

                .prod-fflce {
                    background-image: url('/media/img/productions/ff.jpg');
                }

                .prod-jcst {
                    background-image: url('/media/img/productions/jamesCharles.jpg');
                }

                .prod-mywt {
                    background-image: url('/media/img/productions/views.jpg');
                }

                .prod-vtwdaj {
                    background-image: url('/media/img/productions/markPlier.jpg');
                }

                .prod-rtm {
                    background-image: url('/media/img/productions/rudolph.jpg');
                }

                .prod-canmt {
                    background-image: url('/media/img/productions/catAndNat.jpg');
                }

                .prod-hmft {
                    background-image: url('/media/img/productions/heather.jpg');
                }

                .prod-toamp {
                    background-image: url('/media/img/productions/office.jpg');
                }

                .prod-sags {
                    background-image: url('/media/img/productions/simonAndGarf.jpg');
                }

                .prod-ftmp {
                    background-image: url('/media/img/productions/friends.jpg');
                }

                .prod-tboj {
                    background-image: url('/media/img/productions/judy.jpg');
                }

                .prod-bnhm {
                    background-image: url('/media/img/productions/BNHM.jpg');
                }

                .prod-eam {
                    background-image: url('/media/img/productions/elvis.jpg');
                }

                .prod-ftrl {
                    background-image: url('/media/img/productions/bratPack.jpg');
                }

                .prod-gotm {
                    background-image: url('/media/img/productions/GoT.jpg');
                }

                .prod-gt {
                    background-image: url('/media/img/productions/tuna.jpg');
                }

                .prod-gom {
                    background-image: url('/media/img/productions/grumpy.jpg');
                }

                .prod-hll {
                    background-image: url('/media/img/productions/heyLandyn.jpg');
                }

                .prod-la {
                    background-image: url('/media/img/productions/love.jpg');
                }

                .prod-nl {
                    background-image: url('/media/img/productions/nashville.jpg');
                }

                .prod-owsatc {
                    background-image: url('/media/img/productions/SATC.jpg');
                }

                .prod-psts {
                    background-image: url('/media/img/productions/postSecret.jpg');
                }

                .prod-pr {
                    background-image: url('/media/img/productions/purpleReign.jpg');
                }

                .prod-r {
                    background-image: url('/media/img/productions/raffi.jpg');
                }

                .prod-svmam {
                    background-image: url('/media/img/productions/smokeAndMirrors.jpg');
                }

                .prod-tl {
                    background-image: url('/media/img/productions/together.jpg');
                }

                .prod-ttnbc {
                    background-image: url('/media/img/productions/twas.jpg');
                }

                .production-tile:hover .production-tile-hover {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .productions {
        .container {
            .content {
                h2 {
                    margin-bottom: 40px;
                }

                .production-tiles {
                    grid-template-columns: repeat(2, auto);

                    h2 {
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 3px;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .productions {
        .container {
            .content {
                .production-tiles {
                    .production-tile {
                        .production-tile-hover {
                            background-color: $brightPurple;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            opacity: 0;
                            transition: all 250ms;
                        }
                    }
                }
            }
        }
    }
}